.filter {
  margin-bottom: 15px;
}

.filter:last-of-type {
  margin-bottom: 0;
}

.filter__heading {
  margin: 0;
  text-transform: capitalize;
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
