.filters {
  grid-area: filters;
}

.search-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.list {
  display: grid;
  grid-area: content;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  gap: 30px 50px;
}

.list__button {
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  background: transparent;
  padding: 5px 10px;
  text-transform: capitalize;
  transition: 0.5s;
}

.list__button:hover {
  cursor: pointer;
  border: 1px solid rgb(147, 116, 160);
  background-color: rgb(147, 116, 160);
  color: rgb(248, 244, 234);
}
